{% extends "main.html" %}
{% block content %}

<div class="block">
  <img src="{{url_for('static', filename='img/sports_narrow.jpg')}}" alt="a picture">
  <div class="centered">Delete item</div>
</div>

<form action="{{ url_for('deleteItem', category = category, item_name = item_name)}}" method = 'post'>

  <div class="menu_item">

    <p class="item_title">Are you sure you want to delete {{item_name.replace("-", " ")}}?</p>

    <input type='submit' value='Delete' class="link left" id="button">
    <a href='{{ url_for('itemsPage', category = category)}}' class="link right">Cancel</a>
  </div>

</form>

{% endblock %}
