<html>
<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

<div class="block">
  <img src="{{url_for('static', filename='img/food_narrow.jpg')}}" alt="a picture" style="width:100%;">
  <div class="centered">Edit Menu Item</div>
</div>

<form action="{{url_for('editCategory', category = category.name.replace(" ", "-"))}}" method = 'POST'>

<div class="menu_item">

  <p class="edit_text">Name:</p>
  <input class="input_text" type='text' size='30' name='name' placeholder="{{category.name}}">

  <input type='submit' value='Edit' class="link left" id="button">
  <a href='{{ url_for('frontPage') }}' class="link right">Cancel</a>

</div>

</form>

</body>
</html>
