{% extends "main.html" %}
{% block content %}

<div class="block">
  <img src="{{url_for('static', filename='img/sports_narrow.jpg')}}" alt="a picture">
  <div class="centered">Categories</div>
</div>

<div class="categories">
  <h1>Categories</h1>
  {% for i in categories %}
  <a href="{{url_for('itemsPage', category = i.name.replace(" ", "-"))}}" class="category link">
    {{i.name}}
  </a>
  {% endfor %}
</div>

<div class="item_feed">
  <h1>Recent items</h1>
  {% for i in latest_items %}
  <div class="item">
    <a href="{{url_for('itemPage', category = getCatName(i.cat_id).replace(" ", "-"), item_name = i.name.replace(" ", "-"))}}" class="category link">
      {{i.name}} - ({{getCatName(i.cat_id)}})
    </a>
  </div>
  {% endfor %}
</div>

<div class="clear"></div>

{% endblock %}
