{% extends "main.html" %}
{% block content %}

<div class="block">
  <img src="{{url_for('static', filename='img/sports_narrow.jpg')}}" alt="a picture">
  <div class="centered">{{category.name}}</div>
</div>

<div class="categories">
  <h1>Categories</h1>
  {% for i in categories %}
    {% if i.name == category.name %}
      <a href="{{url_for('itemsPage', category = i.name.replace(" ", "-"))}}" class="category link highlight" style="color: black; font-weight: 800;">
        {{i.name}}
      </a>
      <a href='{{ url_for('editCategory', category = category.name.replace(" ", "-")) }}'>Edit</a>
      <a href='{{ url_for('deleteCategory', category = category.name.replace(" ", "-")) }}'>Delete</a>
      <hr />
    {% else %}
      <a href="{{url_for('itemsPage', category = i.name.replace(" ", "-"))}}" class="category link">
        {{i.name}}
      </a>
    {% endif %}
  {% endfor %}
  <a href="{{url_for('addItem', category = category.name.replace(" ","-"))}}" class="add_new">Add new category</a>
</div>

<div class="item_feed">
  <h1>{{category.name}} items: ({{len_items}} items)</h1>
  {% for i in items %}
  <div class="item">
    <a href="{{url_for('itemPage', category = category.name.replace(" ", "-"), item_name = i.name.replace(" ", "-"))}}" class="category link">
      {{i.name}}
    </a>
  </div>
  {% endfor %}
  <div class="item">
    <a href="{{url_for('addItem', category="none")}}" class="add_new" id="add_item">Add new item</a>
  </div>
</div>

<div class="clear"></div>

{% endblock %}
