<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>

<body>
  {% include "header.html" %}

  <div class="block">
    <img src="{{url_for('static', filename='img/sports_narrow.jpg')}}" alt="a picture">
    <div class="centered">Sign in</div>
  </div>

<!-- GOOGLE PLUS SIGN IN BUTTON-->
<div class="item">
  <p class="item_title">Log in with Google</p>
  <p class="edit_text" id="status"></p>
  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="494634085845-vcjgbpklmfn8afjrqg6rj637ults7t4s.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div id="result"></div>
</div>

<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // hide the sign-in BUTTON
      $('#signinButton').attr('style', 'display: none');
      // send the one-time code to the server, if the server responds,
      // redirect back to the main restaurants postmessage
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        data: authResult['code'],
        success: function(result) {
          if (result) {
            $('#status').html('Succesful login. Redirecting...');
            setTimeout(function() {
              window.location.replace("/catalog/auth_completed");
            }, 1500);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
            $('#status').html('There was an error logging you in. Try again');
            setTimeout(function() {
              window.location.replace("/login");
            }, 1500);
          } else {
            $('#status').html('Failed to make a server-side call. \
                            Check your configuration and console');
            setTimeout(function() {
              window.location.replace("/login");
            }, 1500);
          }
        }
      });
    }
  }
</script>

</body>

</html>
